@model vomsProject.Data.Image
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">VOMS, your one-stop destination for awesome things</h1>
    <p>Learn more about our offers here! <a href="#">Mousefuck this button</a></p>

    @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
    {
        <img src="@Model.ImageUrl" alt="@Model.ImageUrl"/>
    }
</div>
