#voms-tools {
    position: absolute;
}

#menu-button {
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    right: 5rem;
    top: 5rem;
    width: 3.5em;
    height: 3.5em;
    border: 3px solid black;
    border-radius: 50%;
    background: white;
    z-index: 1;
}

    #menu-button.voms-left {
        left: 5rem;
    }

    #menu-button:active {
        background: rgba(0,0,0,0.2)
    }

#editor-menu {
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 9rem;
    right: 5rem;
    width: 13em;
}

    #editor-menu.voms-left {
        left: 5rem;
    }

        #editor-menu.voms-left #menu-side-arrow {
            transform: scale(-1,1);
        }

    #editor-menu * {
        box-sizing: border-box;
    }

.voms-notice {
    background: red;
    padding: 0.2em;
}

.voms-menu {
    font-family: sans-serif;
    box-sizing: border-box;
    list-style: none;
    border: 3px solid black;
    padding: 0;
    background: white;
    margin: 0;
    z-index: 1;
}

    .voms-menu * {
        box-sizing: border-box;
    }

    .voms-menu button {
        border: none;
        display: block;
        background: none;
        padding: 0.2em 0;
        width: 100%;
        padding: 0.5em;
    }
        .voms-menu button svg {
            max-width: 5em;
            max-height: 1.5em;
            height: auto;
            vertical-align: middle;
        }

        .voms-menu button:active {
            background: rgba(0,0,0,0.2)
        }

    .voms-menu input, .voms-menu select {
        width: 100%;
        border: 1px solid black;
    }

    .voms-menu.voms-horizontal input,
    .voms-menu.voms-horizontal select {
        width: auto;
    }

    .voms-menu li.voms-input {
        padding: 0.2em;
    }

        .voms-menu li.voms-input input, .voms-menu li.voms-input select {
            margin-top: 0.1em;
            padding: 0.2em;
        }

    .voms-menu li + li {
        border-top: 1px solid black;
    }
        .voms-menu.voms-horizontal li {
            display: inline-block;
        }
        .voms-menu.voms-horizontal li + li {
            border: none;
            border-left: 1px solid black;
        }

        #editor-menu.show {
            display: block;
        }

.voms-hideable {
    display: none;
}

    .voms-hideable.show {
        display: block;
    }

body.showVersionHistory {
    width: calc(100% - 15rem);
}

.showVersionHistory #versionHistory {
    display: block;
}

#versionHistory {
    box-sizing: border-box;
    position: fixed;
    display: none;
    width: 15rem;
    right: 0;
    top: 0;
    max-height: 100vh;
    overflow: auto;
}

    #versionHistory * {
        box-sizing: border-box;
    }

.voms-allow-drop {
    border-top: 1px solid black;
}
.voms-block-drop {
    border: 3px dashed black;
    min-height: 1em;
}
#voms-drag-element svg {
    height: 2.5em;
    padding: 0.5em;
    vertical-align: middle;
}
@media (max-width: 720px) {
    #menu-button {
        top: 1rem;
        right: 1rem;
    }

        #menu-button.voms-left {
            left: 1rem;
        }

    #editor-menu {
        box-sizing: border-box;
        top: 5rem;
        right: 0;
        width: 15rem;
    }

        #editor-menu.voms-left {
            left: 0;
        }

    body.showVersionHistory {
        width: 100%;
    }

    #versionHistory {
        top: 5rem;
        max-height: calc(100vh - 5rem);
        width: 15rem;
    }
}
@media (max-width: 360px) {
    #editor-menu, #versionHistory {
        width: 100vw;
    }
}
