@model vomsProject.Data.Page

<button onclick="save()">Save</button>
<button onclick="publish()">Publish</button>
<article id="page">
</article>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
    var quill = new Quill('#page', {
        modules: {
            toolbar: [
                [{ header: [1, 2, false] }],
                ['bold', 'italic', 'underline'],
                ['image', 'code-block']
            ]
        },
        placeholder: 'Write your article...',
        theme: 'bubble'
    });
    quill.setContents(@Html.Raw(Model.Content != "" ? Model.Content : "{ops:[]}"));
    function save() {
        $.ajax({
            type: "POST",
            url: "/api/page/@(Model.Id)/update",
            contentType: "application/json",
            data: JSON.stringify(quill.getContents())
        });
    }
    function publish() {
        $.ajax({
            type: "POST",
            url: "/api/page/@(Model.Id)/Publish",
            contentType: "application/json",
            data: JSON.stringify({
                content: quill.getContents(),
                html: quill.root.innerHTML
            })
        });
    }
</script>