@using Microsoft.AspNetCore.Identity
@using vomsProject.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model PageOverview

<div class="Solutions" >
    <h3>Here are you pages:</h3>
    @foreach (var thePage in Model.Pages)
    {
        <div class="card card-body m-2" style="width: 18rem;">
            <p>@thePage.PageName</p>
            @Html.ActionLink("Content", "index", "Page", new { id = thePage.Id }, new { @class = "btn btn-primary m-2" })
        </div>
    }
</div>

<h3 style="text-align:center">Don't see any pages? Create one now!</h3>
<div class="mb-3 mt-3 row justify-content-center" style="border: 1px black solid; text-align: center">
    @using (Html.BeginForm("CreatePage", "Admin", FormMethod.Post))
    {
        <div class="col-auto mb-2 mt-2">
            <span class="visually-hidden">Enter the title of your project:</span>
            @Html.TextBox("title", null, new { @style = "form-control-plaintext" }) <br />
        </div>
        <div style="display:none">
            <input type="text" name="solutionId" value="@Model.SolutionId" />
        </div>
        <input id="Submit" type="submit" value="submit" class="btn btn-primary mb-3" />
    }
</div>
